.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  background-color: $transparentColor;
  box-shadow: $boxShadow;

  &__text {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

