
.tableContainer {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  padding-right: .5rem;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 1rem;
  font-size: 1.5rem;
}

tr {
  background-color: rgb(241, 226, 211);
  border-radius: 1rem;
}

th, td {
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
}

thead {
  background-color: $white;
}

th {
  font-weight: bold;
}

.selected {
  background-color: $orange;
}